
doctype html
html(lang="en")
  head
    title ImagerAurora
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="/public/css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/public/css/main.css")
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand ImagerAurora

        ul.nav.navbar-nav
          li
            a(href="/images") Images
          li
            a(href="/images/mine") My Aurora

        p.navbar-text.navbar-right
          if profile
            if profile.image
              img.img-circle(src=profile.image.url, width=24)
            span #{profile.displayName} &nbsp;
              a(href=logout) (logout)
          else
            a(href=login) Login

    .container
      block content
